<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.BoardMapper">
    <select id="selectCount" parameterType="map" resultType="int">
        select count(*)
        from board
        <if test="searchWord != null and !searchWord.equals('')">
            where
            <choose>
                <when test="searchField == 'title'">
                    title like concat('%', #{searchWord}, '%')
                </when>
                <otherwise>
                    content like concat('%', #{searchWord}, '%')
                </otherwise>
            </choose>
        </if>
        order by idx desc
    </select>
    <insert id="insertWrite" parameterType="model.BoardVO">
        INSERT
        INTO board(name, title, content, ofile, sfile, pass)
        VALUES(#{name}, #{title}, #{content}, #{ofile}, #{sfile}, sha2(#{pass}+(
        SELECT AUTO_INCREMENT
        FROM information_schema.tables
        WHERE table_name = 'board'
        AND table_schema = DATABASE()),256))
    </insert>

    <select id="getListWithPaging" parameterType="map" resultType="model.BoardVO">
        SELECT * FROM
        ( SELECT @ROWNUM := @ROWNUM + 1 AS ROWNUM, b.*
        FROM  board b,(SELECT @ROWNUM := 0 ) TMP

        <if test="searchWord != null and !searchWord.equals('')">
            <choose>
                <when test="searchField == 'title'">
                    WHERE title LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <otherwise>
                    WHERE content LIKE CONCAT('%', #{searchWord}, '%')
                </otherwise>
            </choose>
        </if>

        ORDER BY idx DESC ) T
        WHERE ROWNUM BETWEEN #{ start } AND #{ end }
    </select>

    <select id="selectView" parameterType="String" resultType="model.BoardVO">
        select *
        from board
        where idx = #{idx}
        <!--Expected one result (or null) to be returned by selectOne(), but found: 41
           if nothing match, return null
        -->
    </select>

    <update id="updateVisitCount" parameterType="String">
        update board
        set visitcount = visitcount + 1
        where idx = #{idx}
        <!--        이 실행 결과로 인해서 실제 update된 row의 개수를 return-->
    </update>

    <update id="downCountPlus" parameterType="String">
        update board
        set downcount = downcount + 1
        where idx = #{idx}
    </update>

    <select id="confirmPassword" parameterType="map" resultType="int">
        select count(idx)
        from board
        where pass = sha2(#{pass}+#{idx}, 256)
        and idx = #{idx}
    </select>

    <delete id="deletePost">
        delete
        from board
        where idx = #{idx}
    </delete>

    <update id="updatePost" parameterType="model.BoardVO">
        update board
        set title = #{title}, name = #{name},
        content = #{content}, ofile = #{ofile}, sfile = #{sfile}
        where idx = #{idx} and pass = sha2(#{pass}+#{idx}, 256)
    </update>
</mapper>