<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <context-param>
        <param-name>MariaDB_Driver</param-name>
        <param-value>org.mariadb.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>MariaDB_URL</param-name>
        <param-value>jdbc:mariadb://localhost:3306/musthave</param-value>
    </context-param>
    <context-param>
        <param-name>MariaDB_Id</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>MariaDB_Pwd</param-name>
        <param-value>12345</param-value>
    </context-param>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <!-- 한글 깨짐 방지를 위한 필터 설정(예제 7-9) -->
    <filter>
        <filter-name>SetCharEncoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 게시판 페이징 처리를 위한 설정값(예제 9-3) -->
    <context-param>
        <param-name>POSTS_PER_PAGE</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>PAGES_PER_BLOCK</param-name>
        <param-value>5</param-value>
    </context-param>

</web-app>